.memberShow {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 100%;

  &__social {
    width: 15%;
    min-width: 230px;
    min-height: 100%;
    padding: 10px 10px 10px 0px;

    &__panel {
      display: flex;
      justify-content: start;
      width: 100%;
      padding: 20px 15px;
      margin-bottom: 20px;
    }
  }

  &__userInfo {
    width: 100%;
    
    &__top {
      display: flex;
      flex-direction: column;
      height: 50vh;
      width: 100%;
      border-radius: 0 0 5px 5px;
      margin-bottom: 20px;

      &__dashImage {
        background-color: black;
        width: 100%;
        height: 50%;
      }

      &__header {
        background-color: $color-grey-light;
        display: flex;
        width: 100%;
        height: 40%;

        &__profilePic {
          position: relative;
          top: -40px;
          margin: 0px 30px;
          width: 180px;
          height: 190px;
          img {
            border: 5px solid $color-white;
            border-radius: 4px;
            width: 100%;
            height: 100%;
          }
        }

        &__info {
          margin: 30px 0px;
          &__nameAndType {
            display: flex;
            &__type {
              display: flex;
              padding: 10px 0;
              margin: 0 7px;
            }
          }
        }
      }

      &__profileNav {
        background-color: $color-white;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
        border-radius: 0 0 5px 5px;
        & ul {
          display: flex;
          margin: 0 80px;
          list-style: none;

          li {
            color: $color-teal;
            margin-right: 30px;
          }
        }
        
      }
    }

    &__bottom {
      background-color: $color-grey-light;
      border-radius: 5px;

      & ul {
        list-style: none;
        & li {
          margin-bottom: 10px;
        }
      }

      &__split {
        display: flex;
        width: 100%;

        &__labels {
          width: 30%;
          margin: 0px 0px 0px 30px;
        }
      }
    }
  }
}