//colors
$color-white: #ffffffe1;
$color-grey-light: rgb(57, 56, 69);
$color-grey-dark: rgb(53, 52, 64);
$color-teal: rgb(81, 225, 193);
$color-teal-dark: rgb(65, 192, 165);
$color-hover-blue: #007bffe1;
$color-error: red;

//FONT
$default-font-size: 1.6rem;
