body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: white;
}

.navbar {
  &__logo {
    h2 {
      color: $color-teal;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 2.4rem;
    }
  }

  &__links {
    letter-spacing: -.24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;

    

    &__link:visited {
        color: $color-white;
    }

    &__link:hover {
      color: $color-hover-blue;
    }
  }
}

.formWrapper {
  &__h2 {
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  &__link {
    font-weight: 400;
  }

  label, input, select {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.btn {
  text-decoration: none;
  list-style: none;
  letter-spacing: -.24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  margin: 5px;
}

.smallPrint {
  margin: 10px;
  font-size: 1.2rem;
}
